@import './styles-reset.css';

:root {
    --text: #000e24;
    --background: #ebf2ff;
    --primary-button: #ea8d0b;
    --secondary-button: #c7dcff;
    --accent: #fecc7b;
    --module-background: #e0e8f5;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type='date']::-webkit-input-placeholder {
    visibility: hidden !important;
}

body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}
